*{
  box-sizing: border-box;
}
.container{ 
  width: 80%;
  margin: auto;
}
.system-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}
.orders-table{
  margin: 12px 0;
  padding: 16px 0;
  border: 2px solid #c4c4c4;
  background-color: azure;
  border-radius: 4px;
}
.menu-table{
  margin: 12px 0;
  border: 2px solid #c4c4c4;
  background: #13448b;
  color: white;
  padding: 16px;
  border-radius: 4px;
}
.menu-table > tbody > tr > td {
  line-height: 2;
  padding-bottom: 16px;
}
.menu-table > tbody > tr > td:nth-child(2) {
  width: 0px;
}

.chips{
  display: inline;
  margin-right: 4px;
  border-radius: 16px;
  padding: 1px 7px;
  background: white;
  color: #17367a;
  font-size: 13px;
}


/* Ordered Items displayed */
.orders {
  width: 400px;
}
.display-orders {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
  background: azure;
  padding: 12px;
}