.primary-border{
  width: 100%;
  min-height: 0px;
  border: 2px solid royalblue;
  margin: 8px;
  padding: 8px;
}
.primary-button{
  cursor: pointer;
  color: midnightblue;
  background-color: #efefef;
  padding: 12px 36px;
  border-radius: 12px;
  border: none;
  font-family: monospace;
  font-size: 24px;
  font-weight: 600;
}
.primary-button:hover{
  filter: brightness(0.9);
}
.divider{
  color: grey;
  width: 80%;
  margin-left: 0px;
  height: 2px;
}
.heading{
  font-size: 24px;
  margin: 16px auto;
}
.chips{
  display: inline;
  margin-right: 4px;
  border-radius: 16px;
  padding: 1px 7px;
  background: white;
  color: #17367a;
  font-size: 13px;
}